/* signup-page.component.css */

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background-size: cover;
    background-position: top center; /* Adjust background position to top center */
  }
  
  .signup-form-section {
    text-align: center; /* Center text in the form section */
    padding: 20px; /* Adjust padding to create space */
    box-sizing: border-box;
    border: 2px solid rgb(226, 204, 56);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%; /* Adjust the width of the signup form section */
    max-width: 500px; /* Set a maximum width for responsiveness */
  }
  
  .signup-form-section h2,
  .signup-form-section p,
  .signup-form-section button,
  .signup-form-section label,
  .signup-form-section input,
  .signup-form-section select,
  .signup-form-section a {
    color: white; /* Set text color to white */
  }
  
  .signup-form-section h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Add spacing between heading and other elements */
  }
  
  .signup-form-section p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .signup-form-section label {
    display: block; /* Ensure labels are on a new line */
    margin-bottom: 5px;
  }
  
  .signup-form-section input,
  .signup-form-section select {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
  }
  
  .signup-form-section button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(226, 204, 56);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Add spacing above the button */
    width: 100%; /* Make the button full width */
  }

  .signup-form-section input[type="file"] {
    color: white; /* Set text color to white */
}
  
  .signup-form-section a {
    color: #007bff;
    text-decoration: none;
    display: block; /* Center the text link */
    margin-top: 10px; /* Add spacing above the text link */
  }
