<div class="login-container" style="background-image: url('../assets/assetss/home.jpg');">
    <section class="login-form-section">
        <div class="container">
            <div class="detail-box">
                <h2>
                    WELLCOME TO STUDENT CARE CENTER
                </h2>
                <p>Empowering Futures: Nurturing Students, Bridging Dreams</p>
                <div class="btn-box">
                    <a routerLink="/about-us" class="btn1">About Us</a>
                    <a routerLink="/contact-us" class="btn2">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</div>
