<div class="back">
    <section class="about section-padding">
        <div class="container">
            <div class="row align-items-center">

                <!-- Centered Heading -->
                <div class="col text-center mb-4">
                    <h2 class="mb-5">Collaborating for <span>Student</span> Dreams </h2>
                </div>

                <!------------->

                <div class="col-auto">
                    <ul class="nav-pills-container flex-column">
                        <li class="nav-item">
                            <button class="nav-link" id="home-btn" data-bs-toggle="pill" data-bs-target="#home"
                                [class.active]="!showHowWeWorkContent" aria-selected="true"
                                (click)="showIntroduction()">Introduction</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="youtube-btn" data-bs-toggle="pill" data-bs-target="#youtube"
                                [class.active]="showHowWeWorkContent" aria-selected="true" (click)="showHowWeWork()">How
                                we work?</button>
                        </li>

                    </ul>
                </div>
                <section class="imagecon">
                    <section class="imagecon">
                        <!-- Left Side with Image -->
                        <div class="inside1">
                            <img src="../assets/assetss/do.jpg" class="img-fluid w-100" alt="">
                        </div>


                        <!-- Right Side Content -->
                        <div class="inside2">
                            <div class="content-column" *ngIf="!showHowWeWorkContent">
                                <h4 class="peding">Heartfelt Contributions, Educational Transformations
                                </h4><br>
                                <p class="peding">Empower dreams, sponsor futures. Your donation today transforms
                                    students' aspirations into opportunities, lighting the path to a brighter tomorrow
                                </p><br>

                                <P calss="peding"> Welcome to Student Care, where compassion meets education.Our mission
                                    is to create a platform that connects
                                    generous hearts with the aspirations of students in need. Through your donations, we
                                    strive to break down financial barriers and provide students with the support they
                                    need to achieve their academic dreams. Join us on this journey of empowerment and
                                    make a lasting difference in a student's life today. Together, let's build a
                                    brighter tomorrow. </P>
                                <br>
                                <div class="mt-3">
                                    <a routerLink="/about-us" class="custom-link mb-2">
                                        Learn more
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- ........................................................ -->
                            <div class="content-column" *ngIf="showHowWeWorkContent">
                                <h4 class="peding"> Our Seamless Approach to Student Support</h4><br>
                                <p class="peding">Welcome to Student Care, where we operate with a simple yet powerful
                                    philosophy on how we work.</p><br>

                                <P calss="peding"> At Student Care, our approach is built on fostering meaningful
                                    connections between compassionate donors and deserving students. We meticulously
                                    identify students facing financial barriers to education, ensuring that every
                                    donation goes directly towards transforming lives. Our transparent and efficient
                                    process guarantees that your support directly impacts a student's educational
                                    journey. </P>
                                <br>
                                <div class="mt-3">
                                    <a href="about.html" class="custom-link mb-2">
                                        Learn more
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- ...................................................... -->
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </section>
</div>