<!-- image-section.component.html -->

<div class="section-container" >
  <div class="left-section">
    <div class="content">
      <h2>STUDENT LOGIN</h2>
      <p>Login In To Student Portal If You Need Help</p>
      <button routerLink="/stu-login">SignUp/LogIn</button>
    </div>
  </div>
  <div class="center-section">
    <div class="content">
      <h2>ADMIN LOGIN</h2>
      <p>Login In To Admin Portal</p>
      <button routerLink="/admin-login">Login</button>
    </div>
  </div>
  <div class="right-section">
    <div class="content">
      <h2>DONOR LOGIN</h2>
      <p>Login In To Donor Portal If You Want to Donate</p>
      <button routerLink="/do-login">SignUp/Login</button>
    </div>
  </div>
</div>
