<div class="background" >
    <h4 class="peding">OUR DONORS</h4>
    <div class="card-container">
        <div class="card">
            <img src="../assets/assetss/do.jpg" alt="Card Image" class="card-img">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/assetss/do.jpg" alt="Card Image" class="card-img">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/assetss/do.jpg" alt="Card Image" class="card-img">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/assetss/do.jpg" alt="Card Image" class="card-img">
            <div class="card-body">
                <h2 class="card-title">Card title</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary custom-btn">
            Custom button
          </button>
    </div>
</div>