.background {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    padding: 20px;
}

.card {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.peding{
    margin-top: 20px;
    font-size: 2rem; /* Change the font size to make it similar to an h2 */
    margin-bottom: 5px;
    text-align: center;
}

.custom-btn {
    display: inline-block;
    background-color: #000000;
    color: rgb(226, 204, 56);;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
  }
